<div class="uneBiere">
    <h2>Bière individuel</h2>
    <ul>
        <li>Nom: {{model.nom}}</li>
        <li>Brasserie:  {{model.brasserie}}</li>
        <li>Description:  {{model.description}}</li>
    </ul>
</div>
